body {
    text-align: center;
}

canvas{
    margin-top: -656px;
}

h1{
    font-size: 1em;
    padding-top: 2em;
}


p{
    font-size: 0.7em;
}

p#result {
    font-size: 1em;
    padding-top: 3em;
}

/* inicial and final screen */
.screen{
    background: white;
    width: 505px;
    height: 606px;
    border: 1px solid black;
    text-align: center;
    font-size: 2em;
    margin: auto;
    padding: auto;
    position: relative;
}

.characteres{
    cursor: pointer;
}

